<h1>弁護士が作った定義を暗記するためのアプリ</h1>
<div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h2>定義の味方！</h2>
        <a href="" class="btn btn-success btn-lg">アプリを使ってみる！</a>
      </div>
    </div>
  </div>
</div>