
<div class="jumbotron">
  <h1>定義の味方！！</h1>
  <p>司法試験受験生のための定義暗記アプリ</p>
  <div href="" class="btn btn-success btn-lg active">アプリを使ってみる！</div>
</div>

<h2 class="page-header">このアプリの特徴</h2>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="">
      <div class="caption">
        <h3>定義を登録する必要がない！</h3>
        <p>アプリに判例・通説の定義が登録されているので，自分で定義を登録する必要がない！</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="">
      <div class="caption">
        <h3>確実に暗記できる！</h3>
        <p>正解するまで繰り返し暗記テストで出題されるので，確実に暗記することができる！</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="">
      <div class="caption">
        <h3>分野ごとに暗記テスト！</h3>
        <p>各法律の各分野ごとに暗記テストをすることができる！</p>
      </div>
    </div>
  </div>
  
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="">
      <div class="caption">
        <h3>既登録の定義を編集可能！</h3>
        <p>アプリに既に登録されている定義を編集することができる。そのため，オリジナルの定義帳をすぐに作ることができる！</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="">
      <div class="caption">
        <h3>新たな定義を追加可能！</h3>
        <p>アプリに登録されていない定義を追加で登録することができ，その新たな定義についても同じようにテストすることができる！</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="">
      <div class="caption">
        <h3>便利な個人定義帳！</h3>
        <p>自分がよく間違う定義，重要な定義などを個人定義帳に登録することができる。そして，その個人定義帳に登録された定義のみをテストすることもできる。重要な定義だけを集中して暗記することもできる！</p>
      </div>
    </div>
  </div>
</div>
