<h2 class="page-header">定義テストを行いたい分野を選んでください。</h2>

<h3>憲法</h3>

<p>人権</p>
    <%= link_to "人権", tests_question_path(type: "人権"), class: 'btn btn-primary btn-lg' %>
<p>統治</p>

<h3>民法</h3>

<h3>刑法</h3>

<h3>個人定義帳</h3>
    <%= link_to "個人定義帳", tests_question_path(type: "個人定義帳"), class: 'btn btn-primary btn-lg' %>
    
<br>

<%= link_to "開始する", tests_question_path, class: 'btn btn-primary btn-lg' %>